<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="MFCM90U" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.30729.0" newVersion="9.0.30729.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="msvcm90" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.30729.1" newVersion="9.0.30729.1"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
